<div class="container">
  <h1>Les chevaux à louer en ce moment</h1>
  <ul>
    <div class="col-xs-12 col-sm-4 card">
    <% @horses.each do |horse| %>
      <li><%= link_to horse.name, horse_path(horse), class: "one-horse" %></li>
    <% end %>
  </ul>
</div>
