<%= link_to "Ajouter mon cheval", new_horse_path %>
<h1>Liste de tous les beaux chevaux</h1>
<ul>
  <% @horses.each do |horse|%>
    <li><%= link_to horse.name, horse_path(horse) %></li>
  <% end %>

</ul>
