
<div class="container-card">


          <% @horses.each do |horse| %>
          <div class="col-xs-12 col-sm-4 card">

              <%= link_to "", horse_path(horse) %>
              <%= render "shared/card", horse: horse %>

          </div>
          <% end %>

</div>


