<div class="footer ">
  <div class="footer-links">
    <a href="https://www.instagram.com/explore/tags/equus/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/EQUUSMagazine/" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    I <i class="fa fa-heart"></i> horse riding
  </div>
</div>
