.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}


.footer.fa-facebook {
  background: #3B5998;
  color: white;
}

.footer.fa-twitter {
  background: #55ACEE;
  color: white;
}

.footer.fa-google {
  background: #dd4b39;
  color: white;
}

.footer.fa-linkedin {
  background: #007bb5;
  color: white;
}

.footer.fa-youtube {
  background: #bb0000;
  color: white;
}

.footer.fa-instagram {
  background: #125688;
  color: white;
}

.footer.fa-pinterest {
  background: #cb2027;
  color: white;
}

.footer.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
